:root {
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: rgb(71, 7, 234);
    --color-success: rgb(2, 172, 45);
    --color-danger: rgb(240, 16, 0);
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);
    --color-secundary: rgb(10, 130, 100);

    --color-primary-light: rgba(71, 7, 234, 0.2);
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(255, 67, 54, 0.2);
    --color-purple-light: rgba(160, 99, 245, 0.2);

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;
}


* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 12px;
}

body {
    background: var(--color-light);
    min-height: 100vh;
    color: var(--color-dark);
}


.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    color: #333;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-button:hover {
    color: #65809c;
}


img {
    width: 100%;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.86rem;
    font-weight: 500;
}

h6 {
    font-size: 0.76rem;
}

p {
    font-size: 0.86rem;
    color: var(--color-gray-dark);
    padding: 5px;
}

small {
    font-weight: 300;
    font-size: 0.77rem;
}

.text-muted {
    color: var(--color-gray-light);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.purple {
    color: var(--color-purple);
}



.bg-primary {
    background: var(--color-primary);
    box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}

.bg-danger {
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
}

.bg-success {
    background: var(--color-success);
    box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}

.bg-purple {
    background: var(--color-purple);
    box-shadow: 0 0.8rem 0.8rem var(--color-purple-light);
}

.bg-dark {
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}




nav {
    width: 100%;
    background: var(--color-white);
    padding: 1rem 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 96%;
    margin: 0 auto;
}

nav img.logo {
    width: 150px;
}

nav .search-bar {
    background: var(--color-light);
    padding: var(--padding-2) var(--card-padding);
    width: 32vw;
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-gray-light);
    position: absolute;
    left: 15%;
}

nav .search-bar input[type="search"] {
    color: var(--color-dark);
    background: transparent;
    width: 100%;
}

nav .search-bar input::placeholder {
    color: var(--color-gray-dark);
}

nav .profile-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

nav .profile-area .theme-btn {
    display: flex;
    background: var(--color-light);
    width: 5rem;
    height: 2rem;
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

nav .profile-area .theme-btn span {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

nav .profile-area .theme-btn .active {
    background: var(--color-dark);
    border-radius: var(--border-radius-2);
    color: var(--color-white);
}

nav .profile-area .profile {
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav .profile-area .profile-photo {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

nav .profile-area button {
    display: none;
}





main {
    display: grid;
    grid-template-columns: 16rem auto;
    gap: 2rem;
    width: 96%;
    margin: 1rem auto 4rem;
}


.span-ia{
    background: #10b981;
    color: white;
    font-size: 0.6rem;
    font-weight:500;

    padding: 4px 8px;
    border-radius: 6px;

    margin-left: auto;
}

main aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
}

main aside button#close-btn {
    display: none;
}

main aside .sidebar a {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 4.2rem;
    color: var(--color-gray-light);
    position: relative;
    white-space: nowrap;
}

main aside .sidebar a span {
    font-size: 1.7rem;
    margin-left: 3rem;
    transition: all 300ms ease;
}

main aside .sidebar a.active {
    background: var(--color-white);
    color: var(--color-secundary);
}

main aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    position: absolute;
    background: var(--color-secundary);
}

main aside .sidebar a:hover {
    color: var(--color-secundary);
}

main aside .sidebar a:hover span {
    margin-left: 2rem;
}

main aside .sidebar h4 {
    font-weight: 500;
}






.cards {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    flex: 1;
    background: linear-gradient(145deg, #30aa55, #1f647b);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    color: rgb(255, 255, 255);
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    font-size: 14px;
}

.card h2 {
    margin: 10px 0;
    font-size: 28px;
}

.positivo {
    color: #10b981;
}

.negativo {
    color: #ef4444;
}







.card-transacoes {
    background: white;
    padding: 1.2rem;
    border-radius: 12px;
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.transacoes {
    margin-top: 2rem;
}

.transacoes h2 {
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
}





.lista-transacoes {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}






.item-transacao {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(145deg, #10b981, #1f647b);
    padding: 1rem 1.2rem;

    border-radius: 10px;

    transition: 0.2s;
}

.item-transacao:hover {
    background: #067a80;
}





.lado-esquerdo {
    display: flex;
    align-items: center;
    gap: 1rem;
}





.icone {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 10px;
}

.icone.positivo {
    background: rgba(34, 202, 75, 0.15);
    color: var(--color-success);
}

.icone.negativo {
    background: rgba(255, 67, 54, 0.15);
    color: var(--color-danger);
}





.info h4 {
    margin: 0;
    font-size: 0.9rem;
    color: #ffffff;
}

.info small {
    color: #ffffff;
    font-size: 0.75rem;
}






.valor {
    font-weight: 600;
    font-size: 0.9rem;
}

.valor.positivo {
    color: var(--color-success);
}

.valor.negativo {
    color: var(--color-danger);
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}





